/* compact-service.css */
.select.compact-service {
  width: 46px !important;
  min-width: 46px !important;
  max-width: 56px !important;
  padding-left: 2px !important;
  padding-right: 2px !important;
  height: 24px !important;
  line-height: 22px !important;
}

.cell-lock-22 {
  width: 22px !important;
  height: 22px !important;
}

.tr-row-30 td {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
}
